body {
  font-size: 100%;
}
div {
  border-style: dashed;
  border-width: 0.625em;
  font-size: 1em;
  padding: 3.125em;
  margin: 0.625em;
  width: 12.5em;
  height: 12.5em;
  background-color: tomato;
}
#hej {
  background-color: aqua;
}
.hejdå {
  background-color: darkslategrey;
}
.redBorder {
  border-style: double;
  border-color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: coral;
  font-family: monospace;
  letter-spacing: 0.2em;
  font-size: 2em;
  text-align: center;
  padding: 0.8em 1em;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: beige;
  color: coral;
}
.active {
  background-color: beige;
}
