body {
  font-size: 100%;
  font-family: monospace;
}
/*********** Grid ***********/



/*********** Content ***********/

.side-bar {
  justify-content: center;
}
.side-bar-list-item {
  text-align: center;
  padding: 0;
}
.content {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*********** Nav ***********/
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  overflow: hidden;
  min-height: 10%;
}
.nav-item {
  float: left;
}
.nav-item a {
  display: block;
  color: coral;
  letter-spacing: 0.2em;
  font-size: 2em;
  text-align: center;
  padding: 0.8em 1em;
  text-decoration: none;
}
.nav-item a:hover:not(.active) {
  background-color: beige;
}
.active {
  background-color: beige;
}
